body {
    background-color: rgb(43, 43, 43);
}

.keyboard {
    margin: 10% auto;
    width: 70%;
    height: 70%;
    background-color: rgb(194, 63, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

.keyboard__block {
    margin: 10px 0;
    width: 98%;
    height: 28vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

textarea {
    width: 98%;
    height: 100px;
    margin: 10px 0;
}

.line {
    height: 16%;
    display: flex;
    justify-content: space-between;
}

.line__button {
    width: 6%;
    height: 100%;
    box-sizing: border-box;
    background-color: rgb(182, 30, 253);
    border-radius: 8px;
    text-align: center;
    color: #ffffff;
    transition: background-color 0.5s ease;
}

.line__button:hover {
    background-color: rgb(162, 0, 236);
}

.long {
    width: 13%;
}

.medium {
    width: 8%;
}

.space-style {
    width: 40%;
}

.tab-style {
    width: 7%;
}
